{% extends 'base.html' %} {% load static %} {% block head %}
<link
  rel="stylesheet"
  href="{% static 'css/home.css' %}"
/>
{% endblock %} {% block content %}

<section class="logo-container">
  <div class="cat-container">
    <img
      src="{% static 'images/splash.svg' %}"
      alt="The Cat Collector Cat"
       style="width:700px; height:auto; display:block; margin: 0 auto 1rem auto;" 
    />
  </div>
  <img
    src="{% static 'images/logotype.svg' %}"
    alt="Text reads: Cat Collector"
    style="width:700px; height:auto; display:block; margin: 0 auto 1rem auto;"
  />
</section>

<footer class="footer">
  <div class="container">
    <p>&copy; 2025 Mileiny Nolasco. All rights reserved.</p>
  </div>
</footer>



   


{% endblock %}
